{% extends "base.html" %} 
{% block title %}Login{% endblock title %}
 {% block content %}
    
    <div class="card bg-light p-5 w-40">

    
      <h1 class="text-dark">login</h1>
    
      <form action="/auth/login/ " method="post">
        {% csrf_token %}
        <br />
    
        <label for="email">Email</label>
        <div class="form-group">
          <input
            type="email"
            class="form-control p-2"
            id="email"
            name="email"
            required
          />
        </div>
        <label for="pass1">Password</label>
        <div class="form-group">
          <input
            type="password"
            class="form-control p-2"
            id="pass1"
            name="pass1"
            required
          />
        </div>
    
        <button type="submit" class="btn btn-dark">LogIn</button>
    
        <br />
        New User? <a href="/auth/signup/">signup</a>
    
        <br />
      </form>
    </div>
    
    {% endblock content %}
    